<!DOCTYPE htm>
<html>
<head>
    <title>Feature Toggle Example</title>
</head>
<body>
<h1>Feature Toggles</h1>
{{#showAdsFeature}}
    <div>Ads</div>
{{/showAdsFeature}}
{{#postOrderFeature}}
    <div><button id="order">Order</button></div>
{{/postOrderFeature}}

</body>
</html>
